.container {
  background: rgb(247, 243, 225);
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

section,
footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.container {
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, .20);
  font-family: sans-serif;
}

.fa-twitter {
  color: #1DA1F2
}

.fa-facebook-square {
  color: #4867AA
}

.fa-facebook-square:hover {
  color: #1DA1F2
}

.fa-youtube {
  color: #FF0000
}

.fa-youtube:hover {
  color: #1DA1F2
}

.fa-instagram {
  background: linear-gradient(to bottom right, #9840A4, #D53591, #FDC25F);
  border-radius: 4px;
  color: #FFF;
  height: 45px;
  width: 50px;
}

.fa-instagram:hover {
  color: #1DA1F2
}

.fa-github {
  color: #000
}

.fa-github:hover {
  color: #1DA1F2
}

.fa-slack {
  color: #3DBA91;
}

.fa-slack:hover {
  color: #E11665
}
