<div class="container-fluid-userstop">
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Billing address</th>
            <th>Postal address</th>
            <th>Phone</th>
            <th>Permission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.szmlcim}}</td>
            <td>{{user.szallcim}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.perm}}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="delete(user._id)" class="btn btn-danger">Delete</button>
            </td>
            <td>
              <button type="button" class="btn btn-info" (click)="fillUpdateForm(user._id)" class="btn btn-info" data-toggle="modal" data-target="#exampleModal1">Update</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <!-- Button trigger modal -->
        <button (click)="clearFormData()" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          New user creation
        </button>
      </div>

      <!-- Modal creation-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create new user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table>
                <tr>
                  <td class="row text-center">
                    <label for="name">Username</label>
                    <input type="text" name="username" id="username" [(ngModel)]="user.username" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Email</label>
                    <input type="text" name="email" id="email" [(ngModel)]="user.email" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Billing</label>
                    <input type="text" name="szmlcim" id="szmlcim" [(ngModel)]="user.szmlcim" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Postal</label>
                    <input type="text" name="szallcim" id="szallcim" [(ngModel)]="user.szallcim" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Phone</label>
                    <input type="text" name="tel" id="tel" [(ngModel)]="user.tel" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Permission</label>
                    <input type="text" name="perm" id="perm" [(ngModel)]="user.perm" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Password</label>
                    <input type="text" name="pass" id="pass" [(ngModel)]="user.password" class="form-control" />
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="create()" type="button" class="btn btn-info">Create new user</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal update-->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update new user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table>
                <tr>
                  <td class="row text-center">
                    <label for="name">Username</label>
                    <input type="text" name="username" id="username" [(ngModel)]="user.username" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Email</label>
                    <input type="text" name="email" id="email" [(ngModel)]="user.email" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Billing</label>
                    <input type="text" name="szmlcim" id="szmlcim" [(ngModel)]="user.szmlcim" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Postal</label>
                    <input type="text" name="szallcim" id="szallcim" [(ngModel)]="user.szallcim" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Phone</label>
                    <input type="text" name="tel" id="tel" [(ngModel)]="user.tel" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Permission</label>
                    <input type="text" name="perm" id="perm" [(ngModel)]="user.perm" class="form-control" />
                  </td>
                  <td class="row">
                    <label for="name">Password</label>
                    <input type="password" name="password" id="password" [(ngModel)]="user.password" class="form-control" />
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="update()" type="button" class="btn btn-info">Update user</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
