<br>
<h2>Products</h2>
<hr>

<table class="table table-bordered text-center table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>URL</th>
    <th>Image</th>
    <th>Manufacturer</th>
    <th>Cost</th>
    <th>Methods</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.id">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.name">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.url">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.image">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.manufacturer">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="products.cost">
      </td>
      <td>
        <input type="button" class="btn btn-success" value="Create" name="" id="" (click)="create()">
      </td>
    </tr>
    <tr *ngFor="let product of products">
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.id">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.name">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.url">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.img">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.manufacturer">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="products.cost">
      </td>
      <td class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="update(product)">Update</button>
        <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<pre>
  {{userNew | json}}
</pre>
