<br>
<h2>Products</h2>
<hr>
<div class="col-md-4" *ngFor="let product of products">
  <div class="card text-center">
    <div class="card-header">
      <input type="text" class="form-control" [(ngModel)]="product.name">
    </div>
    <div class="card-body">
      <div class="card-title">
        <input type="text" class="form-control" [(ngModel)]="product.image">
      </div>
      <img style="max-width:100% " src="{{ 'http://localhost:8080/images/'+product.image}}" alt="kép">
      <input type="text" class="form-control" [(ngModel)]="product.url">
      <input type="text" class="form-control" name="manufact" id="prodManufact" [(ngModel)]="product.manufacturer">
    </div>
    <div class="card-footer btn-group">
      <button type="button" class="btn btn-primary" (click)="update(product)">Update</button>
      <!-- <button type="button" class="btn btn-success" (click)="update(product)">Update Image</button> -->
      <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
    </div>
  </div>
</div>
<!-- <table class="table table-bordered text-center table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>URL</th>
    <th>Manufacturer</th>
    <th>Cost</th>
    <th>Image</th>
    <th>Methods</th>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
        <input type="text" class="form-control" name="name" id="prodName" [(ngModel)]="newProduct.name">
      </td>
      <td>
        <input type="text" class="form-control" name="url" id="prodUrl" [(ngModel)]="newProduct.url">
      </td>
      <td>
        <input type="text" class="form-control" name="manufact" id="prodManufact" [(ngModel)]="newProduct.manufacturer">
      </td>
      <td>
        <input type="text" class="form-control" name="cost" id="prodCost" [(ngModel)]="newProduct.cost">
      </td>
      <td>

      </td>
      <td>
        <input type="button" class="btn btn-success" value="Create" name="create" id="createButton" (click)="create()">
      </td>
    </tr>
    <tr *ngFor="let product of products">
      <td>
        <input type="text" class="form-control" [(ngModel)]="product._id">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="product.name">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="product.url">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="product.manufacturer">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="product.cost">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="product.img">
      </td>
      <td class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="update(product)">Update</button>
        <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
      </td>
    </tr>
  </tbody>
</table> -->
