.stop_lego {
  text-align: center;
  font-family: 'Skranji', cursive;
  margin-right: 15px;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkslateblue;
}

.stop_lego img {
  position: relative;
  width: 300px;
}

#btn1 {
  margin-left: 1%;
  position: absolute;
  right: 50vh;
  top: 65vh;
}

#btn2 {
  margin-left: 1%;
  position: absolute;
  right: 30vh;
  top: 65vh;
}

table {
  border-radius: 15px;
}

.add_margin_to_btn {
  margin-right: 5px;
}

.white_bg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 15px;
}
