<div class="stop_lego" *ngIf="httpLocal.typeOfUser >=2">
  <h1>Nincs megfelelo jogosultságod, az oldal megtekintéséhez!</h1>
  <h2>A megtekintéshez bejelentkezés szükséges</h2>
  <img src="../../assets/img/stopLego.png" alt="">
</div>
<!--Ha be van jelentkezve a vásárló-->
<div *ngIf="httpLocal.typeOfUser <=1">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-3 white_bg">
        <!--adott vásárló profiladatainak mejelenítése-->
        <div style="width: 18rem;">
          <div>
            <h5>Profil adatok</h5>
            <br>
            <br>
            <p>
              <strong>Felhasználónév: </strong>{{customer.username}}</p>
            <p>
              <strong>Email: </strong>{{customer.email}}</p>
            <p>
              <strong>Szállítási cím: </strong>{{customer.szallcim}}</p>
            <p>
              <strong>Számlázási cím: </strong>{{customer.szmlcim}}</p>
            <p>
              <strong>Telefonszám: </strong>{{customer.tel}}</p>
            <hr>
            <div>
              <a href="http://localhost:4200/profil" class="btn btn-primary">Adatok szerkesztése</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <!--Rendelési összefoglaló, adatok módosíása-->
        <h5>Rendelési összefoglaló</h5>
        <br>
        <table class="table table-hover table-light table-striped">
          <thead>
            <tr>
              <th>Termék ID</th>
              <th>Termék</th>
              <th>Részösszeg</th>
              <th>Mennyiség</th>
              <th>Mennyiség
                <br>módosítása</th>
              <th>Tétel törlése</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let basketItem of basket let i = index">
              <td>{{basketItem.productId}}</td>
              <td>{{basketItem.productName}}</td>
              <td>{{basketItem.productCost*basketItem.quantity}} Ft</td>
              <td>{{basketItem.quantity}}</td>
              <td>
                <div class="btn-group">
                  <button id="addQuantity" type="button" class="btn btn-warning" (click)="addQuantity(basketItem, i)">+</button>
                  <button id="removeQuantity" type="button" class="btn btn-warning" (click)="removeQuantity(basketItem, i)">-</button>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteProductFromBasket(basketItem)">Törlés</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td colspan="3" (onload)="getTotalPrice()">
                <strong>Összeg: {{totalPrice}} Ft</strong>
              </td>
            </tr>
          </tfoot>
        </table>
        <div>
        </div>
        <div>
          <!--gomb, ami elküldi adott vásárló rendelését a szerverre, ha minden adat ki van töltve-->
          <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#sikeresRendelesModal" (click)="sendOrder()">Rendelés leadása</button>
          <!--gomb, ami visszavisz a kosár nézetbe-->
          <a routerLink="/kosar">
            <button type="button" class="btn btn-info float-right add_margin_to_btn">Vissza a kosárba</button>
          </a>
        </div>
      </div>

      <p id="uzenet"></p>
    </div>
    <!--sikeres rendelés modal-->
    <div class="modal" id="sikeresRendelesModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{modaltitle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{modalbody}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
