<br>
<h2>Orders</h2>
<hr>

<table class="table table-bordered text-center table-striped">
  <thead>
    <th>UserID</th>
    <th>ProductID</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Methods</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="orders.userID">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="orders.productID">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="orders.quantity">
      </td>
      <td>
        <input type="text" class="form-control" name="" id="" [(ngModel)]="orders.cost">
      </td>
      <td>
        <input type="button" class="btn btn-success" value="Create" name="" id="" (click)="create()">
      </td>
    </tr>
    <tr *ngFor="let order of orders">
      <td>
        <input type="text" class="form-control" [(ngModel)]="orders.userID">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="orders.productID">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="orders.quantity">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="orders.cost">
      </td>
      <td class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="update(product)">Update</button>
        <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<pre>
  {{userNew | json}}
</pre>
