<br>
<h2>Orders</h2>
<hr>

<table class="table table-bordered text-center table-striped">
  <thead>
    <th>UserID</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Details</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <select name="" id="" [(ngModel)]="ordersNew.userId" class="form-control">
          <option *ngFor="let user of httpLocalService.users" value={{user._id}}>{{user.username}}</option>
        </select>
      </td>
      <td>
        {{ordersNew.quantity}}
      </td>
      <td>
        {{ordersNew.cost}}
      </td>
      <td>
        <input type="button" class="btn btn-success" value="Részletek" name="" id="" (click)="details()">
      </td>
    </tr>

    <tr *ngFor="let order of httpLocalService.orders">
      <td>
        <select name="" id="" [(ngModel)]="order.userId" class="form-control">
          <option *ngFor="let user of httpLocalService.users" value={{user._id}}>{{user.username}}</option>
        </select>
      </td>
      <td>
        {{order.quantity}}
      </td>
      <td>
        {{order.cost}}
      </td>
      <td>
        <input type="button" class="btn btn-success" value="Részletek" name="" id="" (click)="details(order._id)">
      </td>
    </tr>
  </tbody>
</table>

<div class="orderDetails">
  <h1>ORDER ID</h1>
  <table class="table table-bordered text-center table-striped">
    <thead>
      <th>Termek nev</th>
      <th>Termek ara</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Methods</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <select name="" id="" [(ngModel)]="orders2New.productId" class="form-control">
            <option *ngFor="let prod of httpLocalService.products" value={{prod._id}}>{{prod.name}}</option>
          </select>
        </td>
        <td>
          1000 termek ara
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="orders2New.quantity">
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="orders2New.price">
        </td>
        <td>
          <input type="button" class="btn btn-success" value="Hozzáadás" name="" id="" (click)="createOne()">
        </td>
      </tr>

      <tr *ngFor="let ord of orders2">
        <td>
          <select name="" id="" [(ngModel)]="ord.productId" class="form-control">
            <option *ngFor="let prod of httpLocalService.products;index as i" value={{prod._id}}>{{prod.name}}</option>
          </select>
        </td>
        <td>
          1000 termek ara
        </td>
        <td>
          {{ord.quantity}}
        </td>
        <td>
          {{ord.price}}
        </td>
        <td class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="updateOne(ord)">Frissítés</button>
          <button type="button" class="btn btn-danger" (click)="deleteOne(ord)">Törlés</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pre>
  {{userNew | json}}
</pre>
