<!--nav-->
<div class="row navbar__nav_margin">
  <div class="col-12">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar__nav">
      <a class="navbar-brand" routerLink="/">

        <img src="../../assets/img/lego-icon-9.jpg" alt="Smiley face" height="42" width="42">cRaCk

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="">
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" routerLink="/fooldal">fooldal</a>
          <a class="nav-item nav-link" routerLink="/kategoriak">kategoriak</a>
          <a class="nav-item nav-link" routerLink="/kosar">kosar</a>
          <a class="nav-item nav-link" routerLink="/profil">profil</a>
          <a class="nav-item nav-link" routerLink="/rendeles">rendeles</a>
          <a class="nav-item nav-link" routerLink="/kapcsolat">kapcsolat</a>
          <a class="nav-item nav-link" routerLink="/selectedproduct">selectedproduct</a>
          <a class="nav-item nav-link" routerLink="/dashboard">Statisztika</a>
          <a class="nav-item nav-link" routerLink="/users">Felhasználók</a>
          <a class="nav-item nav-link" routerLink="/products">Termékek</a>
          <a class="nav-item nav-link" routerLink="/orders">Rendelések</a>
          <!-- <span class="header-text" *ngIf="logged" style="color:white">{{log.username}} &nbsp; &nbsp; &nbsp; </span> -->
          <button *ngIf="!http.isLoggedIn" data-toggle="modal" data-target="#loginModal" class="btn btn-warning button_signin">Belépés</button>
          <button *ngIf="http.isLoggedIn" (click)="logout()" class="btn btn-warning button_signout">Kilépés</button>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Belépés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="email">E-mail:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon11">
              <i class="far fa-user"></i>
            </span>
          </div>
          <input class="form-control" id="loginEmail" type="email" placeholder="email" [(ngModel)]="user.username">
        </div>
        <label for="pass">Jelszó:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon22">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input class="form-control" id="loginPass" type="password" placeholder="password" [(ngModel)]="user.password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Bezárás</button>
        <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-warning" (click)="login()">Belépés</button>
      </div>
    </div>
  </div>
</div>
