.navbar__nav_margin {
  margin-bottom: 100px;
}

#navLego {
  background-image: url("../../assets/img/lego4navbarRemake.png");
  height: 100px;
}

.navbar-brand {
  text-shadow: 1px 1px 2px white, 0 0 25px rgb(219, 219, 92), 0 0 5px white;
  color: rgb(240, 36, 9);
}

.navbar-brand:hover {
  color: #0056B3
}

.navLegoman {
  width: 100px;
}

.nav-link {
  color: rgb(240, 36, 9);
  font-family: 'Skranji', cursive;
  font-weight: bold;
  margin-right: 15px;
  font-size: 120%;
  padding-top: 0;
  position: relative;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkslateblue;
  text-transform: uppercase;
  top: 0;
}

.navbar {
  cursor: pointer;
  font-size: 25px;
  margin-top: 0;
}

.navbar .nav-item:hover {
  color: #1D69BD;
  cursor: pointer;
}

.btn_cust {
  background-color: rgb(29, 28, 28);
  color: rgb(240, 36, 9);
  font-family: 'Skranji', cursive;
  font-size: 20px;
  height: 50%;
  position: absolute;
  right: 15%;
  top: 20%;
}

.btn_cust:hover {
  color: #1D69BD
}

#numberOfItems {
  background: #0056B3;
  border-radius: 100%;
  color: white;
  left: -11px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: 10px 10px 35px 16px rgba(0, 0, 0, 0.75);
}
