<!--nav-->
<div class="row navbar__nav_margin">
  <div class="col-12">
    <nav class="navbar fixed-top navbar-expand-lg navbar__nav" id="navLego">
      <a class="navbar-brand" routerLink="/fooldal">
        <p>cRaCk</p>
        <!-- <img src="../../assets/img/lego-icon-9.jpg" alt="Smiley face" height="42" width="42">cRaCk -->

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="">
            <span class="sr-only">(current)</span>
          </a>
          <a *ngIf="http.typeOfUser <= 2" class="nav-item nav-link" routerLink="/fooldal">fooldal</a>
          <a *ngIf="http.typeOfUser <= 1" class="nav-item nav-link" routerLink="/kosar">kosar</a>
          <a *ngIf="http.typeOfUser <= 1" class="nav-item nav-link" routerLink="/profil">profil</a>
          <a *ngIf="http.typeOfUser <= 1" class="nav-item nav-link" routerLink="/rendeles">rendeles</a>
          <a *ngIf="http.typeOfUser <= 2" class="nav-item nav-link" routerLink="/kapcsolat">kapcsolat</a>
          <li *ngIf="http.typeOfUser <= 0" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Admin Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a *ngIf="http.typeOfUser <= 0" class="nav-item nav-link" routerLink="/selectedproduct">Selected product</a> -->
              <a *ngIf="http.typeOfUser <= 0" class="nav-item nav-link" routerLink="/users">Felhasználók</a>
              <a *ngIf="http.typeOfUser <= 0" class="nav-item nav-link" routerLink="/products">Termékek</a>
              <a *ngIf="http.typeOfUser <= 0" class="nav-item nav-link" routerLink="/orders">Rendelések</a>
              <a *ngIf="http.typeOfUser <= 2" class="nav-item nav-link" routerLink="/kategoriak">kategoriak</a>
              <div class="dropdown-divider"></div>
              <a *ngIf="http.typeOfUser <= 0" class="nav-item nav-link" routerLink="/dashboard">Statisztika</a>
            </div>
          </li>

          <button *ngIf="!http.isLoggedIn" data-toggle="modal" data-target="#loginModal" class="btn btn_cust button_signin">Belépés</button>
          <button *ngIf="http.isLoggedIn" (click)="logout()" class="btn btn_cust button_signout">Kilépés</button>

          <!-- <span class="header-text" *ngIf="logged" style="color:white">{{log.username}} &nbsp; &nbsp; &nbsp; </span> -->

        </div>
      </div>
    </nav>
  </div>
</div>

<!--Modal-->
<div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true" class="nav-link active">Bejelentkezés</a>
          </li>
          <li class="nav-item">
            <a id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false" class="nav-link">Regisztráció</a>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="userTabContent" class="tab-content">
        <div id="login" role="tabpanel" aria-labelledby="login-tab" class="tab-pane fade show active">
          <!-- Login Form-->
          <div class="modal-body">
            <label for="email">E-mail:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon11">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input class="form-control" id="loginEmail" type="email" placeholder="Email-cím" [(ngModel)]="user.username">
            </div>
            <label for="pass">Jelszó:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon22">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input class="form-control" id="loginPass" type="password" placeholder="Jelszó" [(ngModel)]="user.password">
            </div>
          </div>
          <div class="modal-footer">
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Bezárás</button>
              <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-warning" (click)="login()">Belépés</button>
            </div>
          </div>
        </div>
        <div id="register" role="tabpanel" aria-labelledby="register-tab" class="tab-pane fade">
          <!-- Register Form-->
          <div class="modal-body">
            <form #registerForm="ngForm">
              <label for="email">Név:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon0">
                    <i class="far fa-user"></i>
                  </span>
                </div>
                <input class="form-control" name="NewUserName" required #NewUserName="ngModel" id="username" type="text" placeholder="Felhasználónév"
                  [(ngModel)]="newUser.username">
                <div *ngIf="NewUserName.invalid && (NewUserName.dirty || NewUserName.touched)" class="alert alert-danger">
                  <div *ngIf="NewUserName.errors.required">
                    <p>Felhasználónevet kötelező megadni!</p>
                  </div>
                </div>
              </div>
              <label for="email">E-mail:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="far fa-user"></i>
                  </span>
                </div>
                <input class="form-control" name="newUserEmail" #newUserEmail="ngModel" required id="email" type="email" placeholder="Email-cím: valami@valami.hu"
                  [(ngModel)]="newUser.email">
                <div *ngIf="newUserEmail.invalid && (newUserEmail.dirty || newUserEmail.touched)" class="alert alert-danger">
                  <div *ngIf="newUserEmail.errors.required">
                    <p>Email-címet kötelező megadni!</p>
                  </div>
                </div>
              </div>
              <label for="pass">Jelszó:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input class="form-control" required minlength="8" name="newUserPass" #newUserPass="ngModel" id="pass" type="password" placeholder="Jelszó"
                  [(ngModel)]="newUser.password">
                <div *ngIf="newUserPass.invalid && (newUserPass.dirty || newUserPass.touched)" class="alert alert-danger">
                  <div *ngIf="newUserPass.errors.required">
                    <p>Jelszót kötelező megadni!</p>
                  </div>
                  <div *ngIf="newUserPass.errors.minlength">
                    <p>A jelszónak legalább 8 karakter hosszúnak kell lennie!</p>
                  </div>
                </div>
              </div>
              <label for="repass">Jelszó újra:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input class="form-control" required minlength="8" name="newUserPassRe" #newUserPassRe="ngModel" id="repass" type="password"
                  placeholder="Jelszó újra" [(ngModel)]="newUser.passwordRe">
                <div *ngIf="newUserPassRe.invalid && (newUserPassRe.dirty || newUserPassRe.touched)" class="alert alert-danger">
                  <div *ngIf="newUserPassRe.errors.required">
                    <p>Jelszót kötelező megadni!</p>
                  </div>
                  <div *ngIf="newUserPassRe.errors.minlength">
                    <p>A jelszónak legalább 8 karakter hosszúnak kell lennie!</p>
                  </div>
                </div>
              </div>
              <label for="name">Számlázási cím:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon4">
                    <i class="fas fa-map-marker"></i>
                  </span>
                </div>
                <input class="form-control" name="szamlacim-szam" id="szamlacim-szam" type="text" placeholder="Irányítószám" [(ngModel)]="newUsersAddress.szmlcim_iranyitoszam">
                <input class="form-control" name="szamlacim-city" id="szamlacim-city" type="text" placeholder="Város" [(ngModel)]="newUsersAddress.szmlcim_varos">
                <input class="form-control" name="szamlacim-street" id="szamlacim-street" type="text" placeholder="Utca, Házszám" [(ngModel)]="newUsersAddress.szmlcim_utca">
              </div>
              <label for="name">Szállítási cím:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon5">
                    <i class="fas fa-map-marker"></i>
                  </span>
                </div>
                <input class="form-control" name="szalliasicim-szam" id="szalliasicim-szam" type="text" placeholder="Irányítószám" [(ngModel)]="newUsersAddress.szallcim_iranyitoszam">
                <input class="form-control" name="szalliasicim-city" id="szalliasicim-city" type="text" placeholder="Város" [(ngModel)]="newUsersAddress.szallcim_varos">
                <input class="form-control" name="szalliasicim-street" id="szalliasicim-street" type="text" placeholder="Utca Házszám" [(ngModel)]="newUsersAddress.szallcim_utca">
              </div>
              <label for="name">Telefonszám:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon6">
                    <i class="fas fa-phone"></i>
                  </span>
                </div>
                <input class="form-control" name="telefon" id="telefon" type="text" placeholder="Telefonszám" [(ngModel)]="newUser.tel">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Bezárás</button>
              <button [disabled]="registerForm.form.invalid" type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-warning"
                (click)="register()">Regisztráció</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
