.full_width {
  color: white;
  height: 50vh;
}

.header_title {
  border-radius: 5px;
  padding: 1%;
  -webkit-box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
  opacity: 0.95;
}

.h_graph_1 {
  background-image: url("../../assets/img/chart36.png"), linear-gradient(rgba(27, 38, 185, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
}

.h_graph_2 {
  background-image: url("../../assets/img/chart33.png"), linear-gradient(rgba(27, 38, 185, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
}

.h_graph_3 {
  background-image: url("../../assets/img/chart34.png"), linear-gradient(rgba(27, 38, 185, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
}

.h_graph_4 {
  background-image: url("../../assets/img/chart35.png"), linear-gradient(rgba(27, 38, 185, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
}

.header_title .row {
  padding: 3%;
}

.header_title_data {
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  text-align: right;
  text-transform: uppercase;
}

.header_title_hint {
  padding-top: 0;
  text-align: right;
  text-transform: uppercase
}

.fa-user,
.fa-archive,
.fa-shopping-basket,
.fa-money-bill-alt {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-top: 5%;
  padding-top: 5%;
}

.g_chart {
  -webkit-box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -7px rgba(0, 0, 0, 0.75);
}
