<div class="container">
  <div class="row">
    <div class="col-md-3 header_title">
      <div class="row">
        <div class="col-md-3">
          <i class="fas fa-user"></i>
        </div>
        <div class="col-9">
          <p>sad</p>
          <p>Felhasználók</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 header_title">
      <div class="row">
        <div class="col-md-3">
          <i class="fas fa-archive"></i>
        </div>
        <div class="col-9">
          <p></p>
          <p>Termékek</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 header_title">
      <div class="row">
        <div class="col-md-3">
          <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="col-9">
          <p></p>
          <p>Vásárlók</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 header_title">
      <div class="row">
        <div class="col-md-3">
          <i class="fas fa-euro-sign"></i>
        </div>
        <div class="col-9">
          <p>213123</p>
          <p>Havi bevétel</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">asd


      </div>
    </div>
  </div>
