<br>
<br>
<br>
<br>
<br>
<br>
<div class="container full_width">
  <div class="row">
    <div class="col-md-3">
      <div class="header_title">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-user"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">sad</p>
            <p class="header_title_hint">Felhasználók</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-archive"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">sad</p>
            <p class="header_title_hint">Felhasználók</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-shopping-basket"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">sad</p>
            <p class="header_title_hint">Felhasználók</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-euro-sign"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">sad</p>
            <p class="header_title_hint">Felhasználók</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">asd
      <google-chart style="margin:auto" [data]="monthlyIncome"></google-chart>

    </div>
  </div>
</div>

<button (click)="createDataForChart()">createDataForChart</button>
