<div class="full_width">
  <div class="row">
    <div class="col-md-3">
      <div class="header_title h_graph_1">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-user"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">{{httpreq.users.length}}</p>
            <p class="header_title_hint">Felhasználók</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title h_graph_2">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-archive"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">{{httpreq.products.length}}</p>
            <p class="header_title_hint">Termékek</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title h_graph_3">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="fas fa-shopping-basket"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">{{httpreq.orders.length}}</p>
            <p class="header_title_hint">Rendelések</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_title h_graph_4">
        <div class="row">
          <div class="col-md-3">
            <br>
            <i class="far fa-money-bill-alt"></i>
          </div>
          <div class="col-md-9">
            <p class="header_title_data">{{cost}} ft</p>
            <p class="header_title_hint">Bevétel</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="g_chart">
        <google-chart class="g_chart" style="margin:auto" [data]="monthlyIncome"></google-chart>
      </div>

    </div>
  </div>
</div>
