.full_width {
  color: white;
  margin: 15px;
}

.header_title {
  background-color: #3366CC;
  border-radius: 5px;
  box-sizing: border-box;
  height: 10vh;
  margin: 1%;
}

.header_title_data {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  text-align: right;
}

.header_title_hint {
  padding-top: 10px;
  text-align: right;
}

.fa-user,
.fa-archive,
.fa-shopping-basket,
.fa-euro-sign {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 5%;
  padding-top: 5%;
}
